body {
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  min-height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  margin: 60px auto;
  max-width: 600px;
}
h1 {
  text-align: center;
}
.form-wrapper {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
small {
  opacity: 0.5;
}
.input {
  width: 80%;
  margin-left: 5px;
  border: 1px solid #27b936;
}

.submit-button {
  width: 15%;
  background-color: #27b936;
  color: white;
  border: none;
}

.input,
.submit-button {
  border-radius: 50px;
  line-height: 2;
  font-size: 15px;
}

.advice-container {
  background-color: white;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 18px;
  border-left: #27b936 solid 2px;
  line-height: 1.5;
  border-radius: 4px;
}
.hidden {
  display: none;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

footer {
  text-align: center;
  font-size: 13px;
}

.advice-container div {
  color: #27b936 !important;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

a {
  color: #27b936;
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .container {
    max-width: 90%;
    margin: 40px auto 20px;
  }
  .form-wrapper {
    font-size: 10px;
  }
  .input {
    width: 70%;
  }
  .input,
  .submit-button {
    border-radius: 50px;
    line-height: 2;
    font-size: 10px;
  }
  .submit-button {
    width: 20%;
  }
  .advice-container {
    font-size: 14px;
  }
  footer {
    font-size: 10px;
  }
}
